<!DOCTYPE html>
{% extends "jobapp/indexcommon.html" %}
{% block navbar_right1_block %}<a href="/accounts/logout"> Logout <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span></a>{% endblock%}
{% block about_us_block %} <a href="/about_us2"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> ABOUT US</a> {% endblock %}
{% block home_block %}<a href="/index"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> HOME</a>{% endblock %}
{% block navbar_right3_block %} <a href="/applied"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Applied </a> {% endblock%}
{% block navbar_right2_block %}<a href="#" style="color:red;font-weight:800;border:solid 3px red; border-radius:50%;">{{user|upper}} </a>{% endblock%}
  {% block index_block %}

      <h1 align="center">Thank You For Applying We Will Contact You Soon .....</h1><hr>
      <a id="input" class="btn" href="/accounts/logout" role="button">Logout <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span></a>



  {% endblock %}
