<!DOCTYPE html
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>welcome</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/welcome.css" %}">
  </head>
  <body>

    <img src="{% static "image/josh-spires-655941-unsplash.jpg" %}" alt="">


    <nav class="navbar navbar-default">
<div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/jobapp" style="color:red;"><span class="glyphicon glyphicon-grain" aria-hidden="true"></span> VSPJOBS</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> HOME</a></li>
      <li><a href="/about_us1"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> ABOUT US</a></li>

    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/register"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Sign Up</a></li>
      <li><a href="/accounts/login"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> Login</a></li>


    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>

      <div class="container">
        <div class="jumbotron">
          <h1><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>  Jobs For Backbenchers</h1>
          <p><span class="glyphicon glyphicon-glass" aria-hidden="true"></span> enjoy like u enjoyed ur previous life</p><hr>
          <a class="btn" href="/register" role="button">Register <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          <a class="btn" href="/accounts/login" role="button"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> Login</a>

        </div>

      </div><hr>

      <div>
        <p id="contact">Countact Us:</p>
        <p>Address : #132 Aecs Layout</p>
        <p>Mobile  : 9765356720</p>
        <p>Tel. phone : 046575-3863637</p>

      </div>





  </body>
</html>
